html {
  font-size: 20px;
  scroll-behavior: smooth;

  font-family: "Inter", sans-serif;
}
body {
  margin-left: 20px;
  margin-right: 20px;
}
/* body {
    /* background-color: var(--background-page); 
   
}*/

header {
  min-height: 80px;
  max-width: 1200px;
  color: #3b3835;
  display: flex;
  gap: 1rem;
  margin: auto;

  justify-content: space-between;
}

main {
  max-width: 1200px;
  margin: auto;
}

.arrow-down {
  background-repeat: no-repeat;
  text-align: center;
}

.line-feed {
  display: block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.link {
  text-align: right;
  padding: 0.8rem;
  color: #436689;
}

.link a:link {
  color: #436689;
}

.link a:visited {
  color: #1a446d;
  text-decoration: none;
}

.link a:hover {
  color: #1a446d;
  text-decoration: none;
}



ul {
  list-style: none;
  font-size: 20px;
  line-height: 3rem;
}

ul li a {
  color: #3b3835;
  text-decoration: none;
  /* border-bottom: 2px solid transparent; */
  transition: border 0.2s ease-in-out;
  border: 1px solid #000000;
  padding: 3px;
}

ul li a:hover {
  /* border-bottom: 2px solid #E64359;
    color: #E64359;*/
  /* border-bottom: 2px solid #1AAAA1; */
  color: #1aaaa1;
  border: 2px solid #1aaaa1;
}

.border {
  border: 1px solid #000000;
}

.main-menu-desktop {
  display: none;
}

.close-mobile-menu {
  cursor: pointer;
}

.burger-icon {
  padding: 0.8rem;
  cursor: pointer;
  z-index: 2000;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.4rem;
}

.burger {
  background-image: url("../assets/menu-hamburger.png");
  background-repeat: no-repeat;
}

.closemobilemenu {
  background-image: url("../assets/closemenu.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding: 0.8rem;
}

.mobile-nav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* max-width: 1440px; */
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 2rem;
  animation-name: slideIn;
  animation-duration: 0.3s;
  z-index: 10;
}

.mobile-nav-hide {
  display: none;
}

.mobile-nav ul {
  list-style: none;
}

.mobile-nav ul li a {
  text-decoration: none;
  font-size: 3rem;
}

@keyframes slideIn {
  from {
    transform: translate(100vw);
  }

  to {
    transform: translate(0px);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex:1;
  padding: 20px;
}

.internal-container-width {
}

.contact-information {
  width: 90%;

  margin: auto;
  grid-template-columns: 1fr 2fr;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 2.5rem;
  gap: 5rem;
}

.text-width {
  width: 90%;
  max-width: 50ch;
  margin: auto;
}

.bio-text {
  max-width: 50ch;
  margin: auto;
  line-height: 1.3rem;
}

.border-line {
  border-top: 2px solid #3b3835;
  margin-bottom: 60px;
  margin-top: 60px;
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.introduction-about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin-bottom: 4rem;
}
.introduction-about-me h2 {
  align-self: start;
}

.link {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
}

.red {
  color: #e64359;
}

h2 {
  padding: 0.8rem;
}
.container {
  max-width: 1200px;
  /*display: flex;*/
}

.top-container {
  flex: 1;
  grid-template-areas:
    "head1 head2 head3"
    "head4 head5 head6"
    "head7 head8 head9";
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  display: grid;
}

.head6 {
  grid-area: head6;
}

.head4 {
  grid-area: head4;
}


#author-name {
  font-size: 44px;
  text-align: center;
}

#author-title {
  font-size: 24px;
  text-align: center;
}

.container p {
  color: #3b3835;
  padding: 5px;
}

.arrow-down {
  grid-area: head8;
  align-self: top;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}
.end-of-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 100px;
}
.arrow {
  width: 50px;
  height: 50px;
  background-color: #e64359;
}

.navigation-bar-desktop {
  display: flex;
  justify-content: center;
}


.navigation-bar-desktop li {
  display: inline-block;
  padding: 20px;
}

.overview-navbar {
  width: 90%;
  display: flex;
  padding: 0.8rem;
  color: #3b3835;
  justify-content: space-between;
}

.overview-navbar span {
  color: #e64359;
}

#my-bio {
  display: block;
  flex: 1;
  grid-template-areas:
    "head10 head11 head12"
    "head13 head14 head15"
    "head16 head17 head18"
    "head19 head20 head21";
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4rem;
  display: grid;
  padding: 0.8rem;
  width: 90%;
}

.head10 {
  grid-area: head10;
}

.head13 {
  grid-area: head13;
}

.head16 {
  grid-area: head16;
}

.my-bio-text {
  margin: auto;
  line-height: 1, 3rem;
}

.projectside {
  width: 90%;
  max-width: 50ch;
  text-align: center;
  margin-left: 20px;
}

footer {
  min-height: 40px;
  padding: 5px;
  background-color: #121923;
  /* background-color: #000; */
}

.color-footer-font {
  color: #cad1dc;
}

/*project section*/

.projectlist {
  max-width: 80rem;
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 40px;
}

.project img {
  object-fit: cover;
}

.project {
  display: grid;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  width: 600px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.project:nth-child(even) img {
  order: 2;
}

.project:hover .project-mask {
  transform: translate(0px);
}

.project-mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translate(-600px);
  transition: transform 0.3s ease-in-out;
}

.project:hover .project-title {
  transform: translateY(100px);
}

.project-title {
  position: absolute;
  top: 0;
  left: 3rem;
  z-index: 10;
  transform: translateY(300px);
  /* transform: translateY(240px); */
  transition: transform 0.3s ease-in-out;
}

.project-cover {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .main-menu-desktop {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .contact-information {
    display: block;
    padding: 1rem;
    margin-top: 0.8px;
  }
  .contact-information p {
    font-size: 25px;
  }
  .introduction-about-me {
    display: block;
    padding: 1rem;
  }
  .top-container {
    display: block;
    padding: 1rem;
  }

  #my-bio {
    display: block;
  }
}
